<style>
  #rating-form {
    font-size: 20px;
    text-align: center;
    padding: 60px 40px;
  }

  .rating-select {
    font-size: 20px;
  }
</style>

<%=content_tag(:h2, l(:premium)) %>


<% unless @user.nil? %>
    <div id="rating-form">
      <%= form_tag({action: 'create'}) do %>
          <%= content_tag(:span, l(:premium_description))  %>
          <%= text_field_tag('description') %><br/>
          <%= content_tag(:span, l(:premium_ticket)) %>
          <%= number_field_tag('tickets') %><br/>
          <%= submit_tag l(:submit) %>
      <% end %>
    </div>
<% else %>
    <%=content_tag(:h3, l(:no_users)) %>
<% end %>