<style>
  #rating-form {
    font-size: 20px;
    text-align: center;
    padding: 60px 40px;
  }

  .rating-select {
    font-size: 20px;
  }
</style>

<%=content_tag(:h2, l(:premium)) %>


<% unless @user.nil? %>

    <div id="user-ranking">
      <table border="1" class="list">
        <thead>
        <tr>
          <th><%= content_tag(:th, l(:premium_description)) %></th>
          <th><%= content_tag(:th, l(:premium_tickets)) %></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @premia.each do |premium| %>
            <tr>
              <td><%= premium.description %></td>
              <td><%= number_to_human(premium.tickets) %></td>
              <td><%= link_to l(:premium_redeem), gamification_redeem_path(premium), method: :put, data: { confirm: l(:premium_redeem_confirm) } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>

<% else %>
    <%=content_tag(:h3, l(:no_users)) %>
<% end %>

<%= render 'sidebar' %>