<% content_for :sidebar do %>

<%=content_tag(:h3, l(:plugin_name)) %>

<div id="glist-menu">
  <%= link_to l(:my_status), {controller: 'gamification', action: 'create'} %><br />
  <%= link_to_unless_current l(:premium), {action: 'premium'} %> <br />
  <%= link_to l(:badge), {controller: 'gamification',action: 'badges'} %> <br />
  <%= link_to l(:evaluate), {controller: 'gamification', action: 'rating'} %><br />
  <%= link_to l(:ranking), {controller: 'gamification', action: 'ranking'} %><br />
  <%= link_to l(:tutorial), {controller: 'gamification', action: 'tutorial'} %><br />
</div>

<br><br>
<div id="destroy">
  <%= link_to l(:remove_label), {controller: 'gamification', action: 'destroy'}, confirm: l(:are_you_sure)%>
</div>
<% end %>
