<style>
  #rating-form {
    font-size: 20px;
    text-align: center;
    padding: 60px 40px;
  }

  .rating-select {
    font-size: 20px;
  }
</style>

<%=content_tag(:h2, l(:premium)) %>


<% unless @user.nil? %>

    <div id="user-ranking">
      <table border="1" class="list">
        <thead>
          <tr>
            <th><%= content_tag(:th, l(:premium_description)) %></th>
            <th><%= content_tag(:th, l(:premium_tickets)) %></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
        <% @premia.each do |premium| %>
            <tr>
              <td><%= premium.description %></td>
              <td><%= premium.tickets %></td>
              <td><%= link_to l(:premium_show), premium %></td>
              <td><%= link_to l(:premium_edit), edit_gamification_premium_path(premium) %></td>
              <td><%= link_to l(:premium_destroy), premium, method: :delete, data: { confirm: l(:premium_destroy_confirm) } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to l(:premium_create), new_gamification_premium_path %>
     </div>

<% else %>
    <%=content_tag(:h3, l(:no_users)) %>
<% end %>


<% unless controller_name == 'admin' && action_name == 'index' %>
    <% content_for :sidebar do %>
        <h3><%=l(:label_administration)%></h3>
        <%= render :partial => 'admin/menu' %>
    <% end %>
<% end %>